body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

h1 {
  color: #baabda;
  font-size: 40px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

li {
  color: #091353;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
}

.weather-app {
  color: #d6e5fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px;
  border: 1px solid #d6e5fa;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #091353;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  color: #091353;
  top: -22px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

#search-button {
  width: 120px;
  background-color: #d77fa1;
  border: #d77fa1;
}
#location-button {
  margin-left: 20px;
  background-color: #baabda;
  border: #baabda;
  width: 120px;
  color: white;
}

#search-button,
#location-button {
  border-radius: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #091353;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forcast-temperature {
  font-size: 15px;
}

#upcoming-forecast {
  font-size: 18px;
  color: black;
}
